*,
*::before,
*::after{
    box-sizing: inherit;
    
   
}

html{
  box-sizing: border-box;
  background-color:#F0EFD6;
}




.container-xxl{
  margin-top: -10em;
}

#white{
    font-family: 'Courier New', Courier, monospace;
    background-color: #F0EFD6;
    max-width: 800px;
    
    margin: 0 auto;
    display: grid;
    place-content: center;

}
#white img{
 width: 70%;
 
}

#blue{
  background-color: #7694B2;	
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  place-content: center;
  
}
#blue h1{
  font-size: 30px;
  font-weight: 700;
  word-spacing: -3px;
}

#orange{
  background-image: url("assets\images\orange.jpg");
  background-color: #E5A055;
}
#orange img{
  width: 118%;
  float: left;
  margin: auto -13px;
}

#red{
display: flex;
background-color: #BE6A5E;
color:#F0EFD6;
font-weight: 1000;
}

#red img{
  width: 100%;
  margin-top: 10px;
}

#redsub h3{
  margin-top: 23px;
  font-size: 25px;
  font-weight: 200;
}
#redtitle h2{
  font-size: 40px;
  margin-top: 20px;
}
#red a{
  text-decoration: none;
  color:#F0EFD6;
}
#red a:link{
  text-decoration: none;
}
.row{
  margin-top: 30px;
}

#aboutLyn{
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 20px;
 

}

#blue{
  font-family: Arial, Helvetica, sans-serif;
  color:#F0EFD6;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  
}

#green{
  background-color: #6A867E
}

.oval {
  font-size: 60px;
  color: beige;
  width: 160px;
  height: 80px;
  background: #E5A055;
  border-radius: 50%;
  margin: auto;
  width: 50%;
  margin-top: 50%;
  padding: 10px;
}



.four-pointed-star{
  position:relative;
  margin:1em auto;
  width:1em;
  font-size:1em;
}

.four-pointed-star:before{
  content:"";
  position:absolute;
  background:#F0EFD6; 
  width:1em;
  height:1.15em;
  transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star:after{
  content:"";
  position:absolute;
  background:#F0EFD6;
  width:1em;
  height:1.15em;
  transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.container2 {
  background-color: #F0EFD6;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}
.container2 img {
  max-width: 100%;

}
.image {
  flex-basis: 40%;
  float: right;
}

.text h1{
  margin-bottom: 30px;
  font-size: 50px;
  font-style: italic;
  font-weight: bolder;
}
.text {
  font-family: 'Courier New', Courier, monospace;
  justify-self: center;
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
}

.text p{
  font-size: 30px;
}

p {
  width:18em;
  text-align:justify;
  }
p:after {/* this adds an extra invisible line, so any other line is justified */
  content:'';
  display:inline-block;
  width:100%;
  vertical-align:top;
  }